secrets.toml
.env
commit_and_push.ps1
/.devcontainer
update_readme.py
depricated.py
//pull_commit_and_push.ps1
find_all_powershell_scripts.ps1
json_data_display_script.py
/Deep_Pokemon_Project
config.json
//copy_dir_test.ps1